@import 'bootstrap/dist/css/bootstrap.min.css';


/* Header */

.menu{
    width: 100%;
    background-color: #eccc16;
}

.menuNavbar{
    justify-content:flex-end;
}
.navColor{
    color: #363636;
}
.navbar-nav .nav-link.active{
    color: #935858;
}
.nav-link:focus, .nav-link:hover{
    color: #502904;
}
.icohome{
  margin-top: -7%;
  margin-bottom: 10%;
}
/* Cartas de Departamento */ 
.cartaDepto{
    padding-right: 0;
    padding-left: 0;
    width: 30%;
}


/* Cartas de Departmanto - Catálogo */

.contenedorCard{
  margin-right: -35%;
    left: 50%;
}

/* Letra de Título - Catálogo */

.titulo{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Filtro de Búsqueda - Catálogo */
.filtro{
    background-color: #00000038; 
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: #fff;
}
/* mensaje de bienvenida */
.Bienvenida{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: -2%;

}

.img{
  border-radius: 2%;
  width: 100%;
  height: 500px;
}
.reservar2{
  display: flex;

}
.container-search {
  
  width: 100%;
  min-width: 900px;
  height: 50px;
  background: #eeeae3;
  border: none;
  font-size: 14pt;
  float: left;
  color: #232421;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: -30px;
}
.tabla1{
  position: relative;
  right: 30%;
  margin-top: 1%;
  padding-top: 30%;
}
.tabla{
  position: relative;
  right: 0%;
  margin-top: 5%;
  padding-top: 34%;
}
/* Footer */

.footer-properties{
  background-color: #000000cb;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  column-count: 2;
  color: #ffffff;
  text-align: center;

}

.footer-division{
  color: #ffffff;
  max-width: 50%;
  min-width: 50%;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  column-count: 3;
  font-size: large;
  
}

.footer-division-izq{
  text-align: left;
}

.footer-division-der{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


.footer-division-title{
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 5%;
  font-weight: 700;
  font-size: x-large;
  
}


.footer-logos{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 250%;
}

.copyright{
  text-align: center;
  font-weight: 700;
}

/*Logos de Footer*/
.facebook{
    color:#ffffff;
}
.twitter{
    color:#287ecf;
}
.instagram{
    color:#e910d7;
}
.whatsapp{
    color:#43e910;
}


/* Página de reserva */

.detalle-cliente-reserva{
min-width: 30%;
max-width: 30%;
}

.texto1{
  margin: 0;

  padding-top: 10%;
  text-shadow: #000000;
  text-size-adjust: 10%;
  text-overflow: ellipsis;
  display: contents;
}

.imbox{
  box-shadow: #000000;
  border: #000;
  border: 10%;
  border-radius: 20%;
  box-shadow: #000;
  box-sizing: border-box;

}

/* Carrusel de Imágenes */ 

.slider {
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height:498px;
  border-radius: 20px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering:optimizeQuality;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }


/* Imágen catálogo de departamentos */

.imgCard{
  height: 100%;
  max-height: 250px;
  border-radius: 1%;
}

/* Título que divide secciones en la página */ 
.Titulo-sección {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

/* Pequeño catálogo disponible en la página principal */
.Catalogo-pag-principal { 
  display: flex;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 5%;
  margin-top: -2%;
}


/* Contenido en apartado Dónde ofrecemos arriendo? en la página principal */
.seccion-informativa{
  width: 80%;
  height: 100%;
  margin: 10%;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  column-count: 2;
  align-items: center;
}


/* Letra en apartado Dónde ofrecemos arriendo? en la página principal*/
.seccion-informativa-texto{
    margin-top: 3%;
    width: 80%;
}

/* Imágen en apartado Dónde ofrecemos arriendo? en la página principal*/
.seccion-informativa-imagen{ 
    width: 40%;
    height: 100%;
  
}


/* Contenedor de sección Por qué nos eligen?*/
.motivos-eleccion{ 
    display: flex;
    flex-direction: column;
    text-align: center;   
}

/* Texto de sección Por qué nos eligen?*/
.motivos-eleccion-texto{ 
    column-count: 3;  
}

/* Íconos de sección Por qué nos eligen?*/
.icon {
    margin-top: 10;
    column-count: 3; 
}

/* Tamaño de íconos de sección Por qué nos eligen?*/
.icon-size{
    height: 150px;
    width: 100%;
    display: flex;
}


/* Logo en header */

.icono-principal{
  width:70px;
  height:70px;
}
.posicion-header{
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  
  
}



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
 

/*Texto en página de detalle departamento */

.txtComodidades{
    margin-left: 10px;

}


/* Formulario Iniciar Sesión */
.wrapper {
  margin-top: 2%;
  width: 100%;
  border-radius: 10px;
  max-width: 30%;
  padding: 0,5%;
  box-shadow: 0px 0px 3px 3px rgba(0.3,0.3,0.3,0.3);
  text-align: center;
  display: flex;
  flex-direction: column;

  
}
/* botton Reservar */
.Reservar {
  margin-top: 2%;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  padding: 0,5%;
  text-align: center;
  background-color: #f6f6f6;
  background:#000000;

}
.Link {
  color: rgb(248, 242, 242);
}
.Link:hover {
   color: rgb(250, 246, 246)
}
/* Formulario Cerrar Sesión */
.wrapper2 {
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%;
  border-radius: 10px;
  max-width: 50%;
  padding: 5%;
  box-shadow: 0px 0px 3px 3px rgba(0.3,0.3,0.3,0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
}


/* Centrar Formulario */
.formulario-centro {
justify-content: center;
display: flex;
}

/* Botones parte inferior Formulario Iniciar Sesión */
#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 4%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.titulo-formulario{
  margin-top: 5%;
}


/* Tipografía del Formulario */

input[type=button], input[type=submit], input[type=reset]  {
  padding: 15px 80px;
  display: inline-block;
  border-radius: 5px;
}

/* Formulario - Correo*/
input[type=text] {
  background-color: #f6f6f6;
  background: rgb(248, 247, 247);
  padding: 15px 32px;
  text-align: center;
  margin: 5px;
  width: 85%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;

}

input[type=text]:placeholder {
  color: #c7b3b3;
}
input[type=text]:focus {
  background-color: #fff;
}

/* Formulario - Contraseña*/
input[type=password] {
  background-color: #fcfcfc;
  background:rgb(250, 250, 250);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid rgba(2, 1, 1, 0.973);
  border-radius: 5px 5px 5px 5px;
}
input[type=number] {
  background-color: #f6f6f6;
  background:rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px 5px 5px 5px;
}


input[type=password]:focus {
  background-color: #fff;
}

input[type=password]:placeholder {
  color: #cccccc;
}

/* Formulario - Botón */
input[type=submit]{
  margin-bottom: 5%;
  margin-top: 5%;
  width: 85%;
  background-color: #000000;
  border: none;
  color: white;
  font-size: 14px;
}



/* Buscador Catálogo de departamentos*/

.containerInput{
  display: flex;

}

/* Cartas de Departamentos */

.card {
  background-color: #f7f7f7;
  padding: 20px 20px 10px;
  margin: 0 auto 25px;
  margin-top: 5%;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.card2 {
  background-color: #f7f7f7;
  padding: 20px 20px 10px;
  margin: 0 auto 25px;
  margin-top: 5%;
  border-radius: 2px;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.card3 {
  background-color: #f7f7f7;
  padding: 20px 20px 10px;
  margin: 0 auto 25px;
  margin-top: 5%;
  border-radius: 2px;
  width: 40%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Formulario de Registro */

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 5%;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #0d1218;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(2, 1, 1);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form-gap {
  padding-top: 70px;
}
.Rcontraseña{


 
  border-color: #000;
  border: 20%;
  box-shadow: #000;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 36%;
}
/* linea amarilla de movimiento de pagina*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  
}

::-webkit-scrollbar-thumb {
    background-color: #eccc16;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {

    background-color: #F5F5F5;
}

*::selection {
  background-color: #ffffff00;
  color: #d42a2a;
}

*::-moz-selection {
  background-color:#ffffff00;
  color: #d42a2a;
}

/*fin de linea amarilal*/




.body li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-left: -40px;
  margin-top: 0px;
  color: rgb(0, 0, 0);
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

li:hover{
  transition: 1s all;
  color: #0a0a06;
  background-color: rgba(250, 233, 2, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

/* Registrarse */

.container .title2{
  left: -4%;
  font-size: 35px;
  font-weight: 500;
  position: relative;
}
.container .title2::before{
  content: "";
  position: absolute;
  left:1;
  bottom: 0;
  height: 3px;
  width: 70%;
  border-radius: 5px;
  background: linear-gradient(135deg, #eccc16, #fcfc05);
}
.container .title{
  margin-top: 2%;
  margin-bottom: 2%;
  left: 0%;
  font-size: 35px;
  font-weight: 500;

}
.container .title::before{
  content: "";
  position: absolute;
  bottom: 82%;
  height: 3px;
  width: 17%;
  border-radius: 5px;
  background: linear-gradient(135deg, #7a6b12, #fcfc05);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
form .user-details .input-box{
  margin-bottom: -1px;
  width: calc(100% / 2 - 1px);
}

.user-details .input-box input{
  position: relative;
  height: 45px;
  display: flex;
  width: 50%;
  display: center;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 4%;
  margin-bottom: 4%;
  margin: 4%;
  left: -4%;
  bottom: 15px;
  border-bottom-width: -2px;
  transition: all 0.1s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #030302;
}


 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
.centralizar{
  margin-left: 15%;
  left: 5%;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #000000;
   border-color: #2b2626;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
 height: 10%;
 display: flex;
 flex-direction: row;
 align-items: baseline;

 }
 form .button input{
  
  margin-bottom: -10%;
  
   height: 100%;
   width: 65%;
   margin-bottom: 3%;
   margin-top: 7.5%;
   margin-left: -60%;
   border-radius: 40px;
   border: none;
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 646;
   letter-spacing: 3px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #000000, #000000);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  
  background: linear-gradient(-135deg, #050504, #131109);
  }

/* fin de registrarse */
.form-control{
  position: relative;
  background-color: rgba(0, 0, 0, 0.13);
  color: #000;
  outline-color: #000;
  color-interpolation-filters: sRGB;
  padding-bottom: 1%;
  margin-bottom: 7%;
  height: 40%;
  margin-bottom: 10%;
  width: 100%;
  width: calc(100% / 2 - -100px);
  justify-content: space-between;
}

.form-control-2{
  color: #000;
  outline-color: #000;
  padding: 5%;
  margin-left: 5%;

}

.form-control-3{
  display: flex;
  align-items: flex-start;

}

.boton-negro{
  margin-top: 2%;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  padding: 0,5%;
  text-align: center;
  color: rgb(252, 248, 248);
  background-color: #f6f6f6;
  background:#000000;
}
/* Información adicional departamento*/

.contenedor-detalle-departamento{
width: 100%;
}

.detalles-departamento{
width: 60%;
margin-left: 20%;

}


.detalle-direccion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.detalle-direccion-2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
}
.detalle-direccion-3{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 100%;
  justify-content: space-around;
}

.titulo-formulario2{
  margin-top: 50%;
  width: 100%;
}
.division-pagina-reserva{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  max-width: 100%;
  
}
.nombre-usuario-acompanante{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.formulario-acompanante{
  width: 100%;
  justify-content: space-around;
  min-width: 1000px;
  

}
/* Fin Información adicional departamento*/
/* botton Reservar */
.Reservar {
  margin-top: 2%;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  padding: 0,5%;
  text-align: center;
  background-color: #f6f6f6;
  background:#000000;
}

.confirmar-reserva{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.caracteristicas-detalle-departamento{
flex-direction: row;
display: flex;
justify-content: space-around
}
.form{
  margin-top: -40%;
}
.detalle-cara{
text-align: center;
}
.dat{
  padding-right: 5%;
  margin-left: -30%;
  width: 20%;
  
}
.calendario{
  margin-bottom: 10%;
  border: #000000;
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  background: rgb(224, 10, 10);
  background-color: rgb(255, 255, 255);
  margin-left:5%;
  border-radius: 6%;
  box-sizing: border-box;
}
